{% extends "layout.html" %}

{% block title %}
    Log
{% endblock %}

{% block main %}
<body>
<div class="container">
    <div class="section">
            <br>
            <br>
            <div class="px-10 mx-20 text-center">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2"></th>
                        </tr>
                    </thead>
                </table>
            </div>
                <br>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Sheet</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for show in shows %}
                        <tr>
                            <td>{{ show["name"] }}</td>
                            <td>{{ show["category"] }}</td>
                            <td>{{ usd(show["price"]) }}</td>
                            <td>{{ show["quantity"] }}</td>
                            <td>{{ usd(show["total"]) }}</td>
                            <td>{{ show["monthyear"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tbody>
                        <tr>
                            <td>NET</td>
                            <td colspan="3"></td>
                            <td>{{ usd(balance) }}</td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
</body>
{% endblock %}